.main {
  min-height: calc(100vh - 128px);
  margin-top: 64px;
}

.btn-skewed {
  display: inline-block;
  transform: skewX(-0.5rad);
  border-radius: 8px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-skewed > span {
  display: inline-block;
  transform: skewX(0.5rad);
  width: 100%;
}

.bar-height {
  height: 64px;
}

.taptarget-height {
  height: 48px;
}

.rounded-alot {
  border-radius: 1rem !important;
}

.rounded-alot-start {
  border-radius: 1rem 0 0 1rem !important;
}

.rounded-alot-end {
  border-radius: 0 1rem 1rem 0 !important;
}

.rounded-alot-top {
  border-radius: 1rem 1rem 0 0 !important;
}

.rounded-alot-bottom {
  border-radius: 0 0 1rem 1rem !important;
}

.btn-eboxprimary {
  color: white;
  background-image: linear-gradient(to bottom right, #afd0ff 12%, #ff00c5);
  border-color: #afd0ff;
  background-size: 133% 133%;
  transition: all .5s;
}

.btn-eboxprimary:hover {
  color: white;
  border-color: #7990b0;
  background-position: bottom right;
}

.btn-outline-eboxprimary {
  color: #7990b0;
  border-color: #7990b0;
  background-image: linear-gradient(to bottom right, #fff 50%, #afd0ff 75%, #dc13af 100%);
  background-size: 333% 333%;
  transition: all .5s;
}

.btn-outline-eboxprimary:hover {
  color: white;
  border-color: #afd0ff;
  background-position: bottom right;
}

.bg-eboxdark {
  background: linear-gradient(to bottom right, #2d2f31, #2b1a27);
}

.bg-lightalpha {
  background-color: rgba(255, 255, 255, 0.94) !important;
  backdrop-filter: blur(10px);
}

.text-eboxprimary {
  line-height: 1.33333;
  background-color: #afd0ff;
  background-image: linear-gradient(to bottom right, #afd0ff, #dc13af);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.input-nostyle {
  background-color: transparent;
  border: none;
  color: #fff;
  min-width: 0;
  outline: none;
}

.container-small {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.container-medium {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

.mb-alot {
  margin-bottom: 9rem;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}

.links a:hover {
  background: linear-gradient(to bottom right, #afd0ff, #dc13af);
}

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: linear-gradient(to bottom, #7990b0, #8f0d72);
  position: absolute;
  left: 1rem;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #2d2f31;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #2d2f31;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}

.scale-on-hover:hover {
  position: relative;
  transform: scale(0.93);
  transition: all 0.15s ease-out;
}